* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(50,50,50);
}

.container {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    padding: 70px;
    transition: 0.2s;
    filter: drop-shadow(1px 4px 0px white);
}
/* 
img:hover {
    background: rgb(222,222,222);
}

 */

a {
    border: 2px solid rgb(0, 140, 255);
    /* background: white; */
    border-radius: 15rem;
}

a:hover img {
    width: 455px;
    height: 455px;
}

a:hover {
    background-color: rgba(10,10,10,0.4);
    border: 0.5px solid rgb(0, 140, 255);
}