@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(50,50,50);
}

.container {
    width: 222px;
    height: 222px;
    display: flex;
    justify-content: center;
    background: white;
    border-radius: 10rem;
    position: fixed;
    overflow: hidden;
}

.container::before {
    content: '';
    width: 222px;
    height: 222px;
    position: absolute;
    background: rgb(24,119,242);
    transform: translate(-250px);
}

.container:hover::before {
    animation: 200ms linear 1 forwards hover-1;
}

.container:hover i {
    animation: 300ms linear 1 forwards hover-i;
}

@keyframes hover-i {
    from{color: rgb(24,119,242);
    }
    to{color: white;
    transform: scale(105%,105%);}
}

@keyframes hover-1 {
    0%{transform: translate(-250px);}
    100%{transform: translate(0px);}
}

i {
    position: absolute;
    z-index: 10;
    font-style: normal;
    font-family: 'Lato', sans-serif;
    font-size: 14rem;
    margin-left: -40px;
    color: rgb(24,119,242);
    transition: 0.3s;
}

a {
    margin-top: -25px;
    text-decoration: none;
}