@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(50,50,50);
}

.container {
    width: 222px;
    height: 222px;
    display: flex;
    justify-content: center;
    background: rgb(24,119,242);
    border-radius: 10rem;
    position: fixed;
    overflow: hidden;
}

i {
    font-style: normal;
    font-family: 'Lato', sans-serif;
    font-size: 17rem;
    color: white;
}

a {
    margin-top: -30px;
    text-decoration: none;
}